/*----===========FOOTER AREA CSS----============*/
.single-footer ul {
  list-style: none;
  padding: 0;
  padding-left: 32px;
}

.single-footer ul li a {
  color: #09120e;
  font-size: 16px;
  padding: 10px 0;
  display: inline-block;
  transition: all.3s;
}
.single-footer ul li a:hover {
  /* color: #2657F2; */
  color: #FAA111;
  transition: all.3s;
  margin-left: 5px;
}
.padding-left20 {
  padding-left: 28px;
}

.footer-area3 .single-footer ul li a:hover {
  color: #ff008a;
}
.single-footer-contact h3 {
  text-transform: capitalize;
}

.single-footer h3 {
  margin-left: 28px;
  margin-bottom: 20px;
}
.copyright2 {
  border-top: 1px solid #CCCFD6;
  padding: 16px 0;
  margin-top: 40px;
}
.social1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social1 ul li {
  display: inline-block;
}

.social1 ul li a {
  height: 40px;
  width: 40px;
  display: inherit;
  border-radius: 50%;
  text-align: center;
  color: #19191B;
  line-height: 40px;
  transition: all.4s;
  border: 1px solid #E7EAF0;
  padding: 0;
}
.social1 ul li a:hover {
  /* background-color: #006fff; */
  background-color: #FAA111;
  color: #fff;
  transition: all.4s;
}

@media screen and (max-width: 426px) {
  .social.social1 {
    display: flex;
    justify-content: start;
    padding-bottom: 30px;
  }
  .single-footer ul {
    padding: 0;
    margin: 0;
  }
  .single-footer h3 {
    margin-left: 0;
    margin-bottom: 10px;
    margin-top: 22px;
}
.testimonial2.sp2 {
  padding-bottom: 100px;
}
}

.foonter-contact-icon-1 > div {
  background: #2f81ed17;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}
.foonter-contact-p a {
  color: #525975;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}
.foonter-contact-1 {
  display: flex;
  align-items: start;
}
.foonter-contact-p {
  padding-left: 8px;
}
.foonter-contact-1 {
  padding-top: 24px;
}
/*----===========FOOTER AREA CSS----============*/

/*----===========HOME4 FOOTER AREA CSS----============*/
.footer-area4 {
  background-image: url(../img/footer/footer4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.single-footer4 ul li a {
  color: #B2B4B7;
}
.single-footer4 p {
  color: #B2B4B7;
}

.social.social4 ul {
  margin: 0;
  padding: 0;
}
.social.social4 {
  margin-top: 30px;
}

.social.social4 ul li a {
  font-size: 20px;
  color: #000410;
  background: #fff;
  /* padding: 5px; */
  height: 24px;
  width: 24px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  transition: all.3s;
}
.social.social4 ul li a:hover {
  transition: all.3s;
  background-color: #006fff;
  transform: scale(1.1);
}

.social.social4 ul li {
  display: inline-block;
  margin-right: 7px;
}


/*----===========HOME4 FOOTER AREA CSS----============*/

.foonter-contact-p3 a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #19191B;
  margin-left: 10px;
  margin-top: 10px;
}

.foonter-contact3 {
  display: flex;
  align-items: center;
}

.social.social2 ul {
  margin: 0;
  padding: 0;
}

.social.social2 ul li a {
  height: 32px;
  width: 32px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #E7EAF0;
  text-align: center;
  line-height: 32px;
  color: #19191B;
  transition: all.4s;
}

.social.social2 ul li {
  display: inline-block;
  margin: 1px;
}

.social.social2 ul li a:hover {
  background-color: #FF845E;
  transition: all.4s;
  color: #fff;
}

.single-footer.single-footer2 ul li a:hover {
  color: #013E39;
}

.footer2-bottom-input input {
  padding: 13px;
  border-radius: 25px;
  border: 1px solid #19191B;
}

.single-footer.single-footer2 ul {
  margin: 0;
  padding: 0;
  padding-left: 27px;
}

.single-footer-contact.single-footer.single-footer2 form {
  margin-left: 32px;
}